/* You can add global styles to this file, and also import other style files */
.table {
	border: 1px solid #ddd;
}

.table th, table td {
  padding: 0px 5px;
  font-size: 13px;
}

.table .btn {
  padding: 1px 10px;
}

@media (min-width: 768px) {
	.table {
		width: 60%;
		margin-left: 20%;
	}
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
